.visually-hidden{
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

$middark: #283645;
$dark: #1d2631;
$midlight: #f2f2f2;
$accent: #d22856;


@mixin opensans(){
  font-family: "Open Sans", Arial, serif;
}


.btn {
  margin:12px auto;
  width: 274px;
  height: 55px;
  border: 3px solid white;
  border-radius: 50px;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 55px;
  text-align:center;
}
