$middark: #283645;
$dark: #1d2631;
$midlight: #f2f2f2;
$accent: #d22856;
$border: #e5e5e5;


/*сетка*/
$mob-pad-side: 30px;
$mob-only: "max-width: 699px";

$tablet: "min-width: 700px";
$tab-pad-side: 50px;

$desktop: "min-width: 1200px";
$desk-pad-side: 50px;


@mixin opensans($fv:300){
  font-family: "Open Sans", Arial, serif;
  font-weight: $fv;
}

@mixin h2 {
  @include opensans(300);
  font-size: 24px;
  line-height: 28px;

  @media (#{$tablet}){
    font-size: 40px;
    line-height: 50px;
    margin: 20px 0;
  }

  @media (#{$desktop}){
    font-size: 50px;
    line-height: 60px;
  }
}

.btn {
  margin:12px auto;
  width: 274px;
  height: 55px;
  border: 3px solid white;
  border-radius: 50px;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 55px;
  text-align:center;

  @media (#{$desktop}){
    font-size: 21px;
    line-height: 18px;
  }
}

.visually-hidden{
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}


body::after {
  content: "";
  width: 100%;
  position:absolute;
  top:0; left:0;
  background: url(/psd/preview/pink-form-mobile.jpg) no-repeat 50% 0;
  height:100%;
  min-height: 4250px;
  opacity: 0.4;
  z-index: 2;

  @media (#{$tablet}){
    background:
      url(/psd/preview/pink-form-tablet.jpg)
      no-repeat 50% 0;
  }

  @media (#{$desktop}){
    background:
      url(/psd/preview/pink-form-desktop.jpg)
      no-repeat 50% 0;

  }
}

body.photo_page::after {
  background: url(/psd/preview/pink-photo-mobile.jpg) no-repeat 50% 0;
  @media (#{$tablet}){
    background:
      url(/psd/preview/pink-photo-tablet.jpg)
      no-repeat 50% 0;
  }
  @media (#{$desktop}){
    background:
      url(/psd/preview/pink-photo-desktop.jpg)
      no-repeat 50% 0;

  }
}

body.main_page::after {
  background: url(/psd/preview/pink-index-mobile.jpg) no-repeat 50% 0;
  @media (#{$tablet}){
    background:
      url(/psd/preview/pink-index-tablet.jpg)
      no-repeat 50% 0;
  }
  @media (#{$desktop}){
    background:
      url(/psd/preview/pink-index-desktop.jpg)
      no-repeat 50% 0;

  }
}
