.contacts {
  padding-top: 20px;
  @media (#{$tablet}) {
    padding-top: 0;
  }
}

.contacts__inner {
  @include container;
  text-align: center;

  @include opensans;

  @media (#{$tablet})  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  @media (#{$desktop}) {
    justify-content: space-between;
    width: 950px;
  }
}

.contacts__header {
  width: 100%;
  @media (#{$desktop}) {
    padding-top: 12px;
  }
}

.contacts__subtitle {
  color: #283645;
  font-size: 24px;
  font-weight: 300;

  @media (#{$tablet}) {
    width: 410px;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    line-height: 50px;
  }

  @media (#{$desktop}) {
    width: 520px;
    font-size: 50px;
    line-height: 60px;
  }
}

.contacts__item {
  padding-top: 5px;
  padding-bottom: 10px;
  color: #283645;
  font-size: 18px;
  font-weight: 700;

  @media (#{$tablet}) {
    padding: 0;
    width: 310px;
    margin-bottom: 40px;
  }
  @media (#{$desktop}) {
    margin-top: 6px;
    margin-bottom: 20px;
  }

  &--mail {
    @media (#{$desktop}) {
      order: 3;
    }
  }

  &--addres {
    padding-top: 9px;

    @media (#{$tablet}) {
      width: 290px;
      padding-top: 3px;
      margin-bottom: 20px;
    }
    @media (#{$desktop}) {
      padding-top: 0;
      order: 2;
    }
  }
}


.contacts__detail {
  color: #d22856;
  font-size: 24px;
  font-weight: 300;
  text-decoration: none;
  @media (#{$desktop}) {
    margin-top: 20px;
  }
}

.contacts__detail a {
  color: #d22856;
  font-size: 24px;
  font-weight: 300;
  text-decoration: none;

  &:hover {
    color: $middark;
    text-decoration: underline;
  }
  &:active {
    opacity: 0.3;
    text-decoration: none;
  }
}

.contacts__map {
  width:100%;
  height: 200px;
  margin:0 auto;
  position: relative;
  background: #f2f2f2 url(../img/bg-map-mobile@1x.png)
    no-repeat 50% 0;

  @media (#{$retina1}), (#{$retina2}) {
    background-image: url(../img/bg-map-mobile@2x.jpg);
  }
  &::after {
      position: absolute;
      top: 0; left: 0;
      width: 100%;
      height: 85px;
      content: "";
      background: url("../img/bg-triangle-white-footer.svg")
        no-repeat 50% 0;
    }

  @media (#{$tablet}) {
    width: 700px;
    height: 378px;
    background-image: url(../img/bg-map-tablet@1x.jpg);

    @media (#{$retina1}), (#{$retina2}) {
      background-image: url(../img/bg-map-tablet@2x.jpg);
    }
    &::after {
      width:700px;
      height: 92px;
      background-size: 100%;
    }
  }

  @media (#{$desktop}) {
    width: 1200px;
    height: 505px;
    background-image: url(../img/bg-map-desktop@1x.jpg);

    @media (#{$retina1}), (#{$retina2}) {
      background-image: url(../img/bg-map-desktop@2x.jpg);
    }
    &::after {
      position: absolute;
      top: 0; left: 0;
      width: 1200px;
      height: 129px;
      content: "";
      background: url("../img/bg-triangle-white-footer.svg") no-repeat 0 0;
      background-size: 1200px;
    }
  }
}

