.desc {
  background-color:#fff;
  padding-top: 1px;
  @media (#{$tablet}){
    padding-top: 27px;
  }
}

.desc__slogans {
  width:250px;
  margin:40px auto 36px;
  text-align: center;

  @media (#{$tablet}){
    width: 600px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 22px auto 44px;
  }

  @media (#{$desktop}) {
    width: 800px;
    margin-top: 41px;
  }
}

.desc__slogan{
  @include h2;
  color: #283645;
  margin-top: 30px;

  @media (#{$tablet}){
    margin-top: 0;
    margin-bottom: 0;
    line-height: 48px;
  }
  @media (#{$desktop}) {
    line-height: 60px;
  }
}

.desc__slogan--wide br {
  @media (#{$tablet}){
    display:none;
  }
}

.desc__offers {
  padding-top: 49px;
  padding-bottom:304px;
  position: relative;
  background: url("/img/iphone-screen-mobile@1x.png")
    no-repeat 50% 110%;
  background-color: $midlight;

  @media (#{$retina1}), (#{$retina2}) {
    background-image: url("/img/iphone-screen-mobile@2x.png");
  }

  &::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    height: 32px;
    background-image: linear-gradient(to top left, #f2f2f2 50%, #ffffff 50%);

    @media (#{$tablet}) {
      height: 54px;
    }
    @media (#{$desktop}) {
      height: 95px;
    }
  }

  @media (#{$tablet}) {
    padding-top: 44px;
    padding-left: 50%;
    padding-bottom: 30px;
    background: none;
    background-color: #f2f2f2;

    &::after {
      content:"";
      position: absolute;
      bottom: 0;
      left: 0;
      width: calc(50% - 44px);
      height: 100%;
      margin-right: 44px;
      z-index: 3;
      background: url("../img/iphone-screen-3-tablet@1x.png") no-repeat right bottom;
      @media (#{$retina1}), (#{$retina2}) {
        background-image: url("../img/iphone-screen-3-tablet@2x.png");
      }
    }
  }

  @media (#{$desktop}) {
    padding: 0;
    background-image: none;
    background-color: #f2f2f2;

    &::after {
      content: none;
    }
  }
}

.desc__offers-inner {
  @media (#{$desktop}) {
    @include container;
    display: flex;
  }
}

.desc__offer {
  width:280px;
  margin:30px auto 0;
  text-align:center;

  @media (#{$tablet}){
    width: 310px;
    margin-top: 34px;
    margin-left: 0;
    text-align: left;
  }

  @media (#{$desktop}) {

    position: relative;
    padding-top: 300px;
    background-color: $midlight;
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      height: 330px;
      width: 310px;
      background-repeat: no-repeat;
      background-position: 50% top;
      z-index: 2;
      overflow: hidden;
    }
  }
}
.desc__offer--gray {
  @media (#{$desktop}) {
    &::before {
      background-image: url("../img/iphone-screen-1-desktop@1x.png");
    }

    @media (#{$retina1}), (#{$retina2}) {
      &::before {
        background-image: url("../img/iphone-screen-1-desktop@2x.png");
      }
    }
  }
}

.desc__offer--pink {
  @media (#{$desktop}) {
    &::before {
      background-image: url("../img/iphone-screen-2-desktop@1x.png");
    }

    @media (#{$retina1}), (#{$retina2}) {
      &::before {
        background-image: url("../img/iphone-screen-2-desktop@2x.png");
      }
    }
  }
}

.desc__offer--smile {
  @media (#{$desktop}) {
    &::before {
      background-image: url("../img/iphone-screen-3-desktop@1x.png");
    }

    @media (#{$retina1}), (#{$retina2}) {
      &::before {
        background-image: url("../img/iphone-screen-3-desktop@2x.png");
      }
    }
  }
}

.desc__offer-title{
  margin-top: 10px;
  margin-bottom: 10px;

  font-family:$opensansbold;
  font-weight:700;
  font-size:18px;
  line-height: 24px;

  @media (#{$tablet}){
    margin-bottom: 12px;
  }

  @media (#{$desktop}) {
    position: relative;
    z-index: 3;
    width: 230px;
    padding-top: 60px;
    background-color: $midlight;
    margin: 0 auto 18px;

    text-align: center;
    font-size: 30px;
    line-height: 30px;
  }
}

.desc__offer-txt {
  margin-top: 10px;
  margin-bottom: 10px;

  font-family:$opensans;
  color: #283645;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;

  @media (#{$tablet}){
    line-height: 24px;
  }

  @media (#{$desktop}) {
    width: 240px;
    margin: 10px auto;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
  }
}
