.download {
  width: 320px;
  margin:0 auto;
  padding:423px 0 15px;
  text-align:center;
  background: url(../img/iphone-hand-mobile@1x.png)
    no-repeat 0 108px;

  @media (#{$retina1}), (#{$retina2}) {
    background-image: url(../img/iphone-hand-mobile@2x.png);
  }

  @media (#{$tablet}){
    width: 320px;
    height: 547px;
    padding: 71px 320px 0 0;
    background: url(../img/iphone-hand-tablet@1x.png)
    no-repeat 50% 74px;

      // @media (#{$retina1}),
      // (#{$retina2}) {
      //   background-image: url(../img/iphone-hand-tablet@2x.png);
      // }
  }

  @media (#{$desktop}){
    width: 300px;
    height: 643px;
    padding: 100px 640px 0 0;
    background: url(../img/iphone-hand-desktop@1x.png)
    no-repeat -14% 98px;

      // @media (#{$retina1}),
      // (#{$retina2}) {
      //   background-image: url(../img/iphone-hand-desktop@2x.png);
      // }
  }
}




.download__slogan {
  display:none;

  @media (#{$tablet}){
    display: block;
    margin-top: 20px;
    margin-bottom: 30px;

    font-family:$opensanslight;
    font-size: 40px;
    line-height: 48px;
  }

  @media (#{$desktop}){
    font-size: 50px;
    margin-top: 9px;
    margin-bottom: 50px;
    line-height: 60px;
  }
}

.download__btn {
  margin:0 auto;
  height: 49px;
  border: 3px solid white;
  border-radius: 45px;
  color: white;
  line-height: 49px;

  @media (#{$tablet}){
    width: 294px;
    line-height: 49px;
  }
  @media (#{$desktop}){
    margin-top: 20px;
    line-height: 49px;
  }
}

.download__os-list {
  width: 208px;
  margin: 32px auto 0;
  padding: 0;
  display: flex;
  justify-content: space-between;

  @media (#{$tablet}){
    padding: 0 40px;
    margin-top: 48px;
  }
  @media (#{$desktop}){
    padding: 0 30px;
    margin-top: 68px;
  }
}

.download__os-item {
  list-style-type:none;
  &--android {
    padding-top: 8px;
  }
  &--microsoft {
    padding-top: 12px;
  }
}

.download__txt {
  width: 240px;
  margin: 12px auto 14px;
  text-align: center;
  font-family: $opensanslight;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;

  @media (#{$tablet}){
    width: auto;
    margin-top: 25px;
    font-size: 18px;
  }
  @media (#{$desktop}){
    margin-top: 44px;
  }
}
