.effect {
  display:none;

  @media (#{$tablet}){
    display: block;
    background-color: #fff;
  }

  @media (#{$desktop}) {
    background-color: $midlight;
  }
}

.effect__inner {
  @include container;
  padding: 98px 40px 20px;
  background: url(../img/icon-timer.svg) no-repeat 40px 60px;
  background-size: 240px;
  position: relative;

  &::before {
    content: "24";
    width: 240px; height: 240px;
    position: absolute;
    top: 196px; left: 105px;
    @include opensans(700);
    font-size: 96px;
    color: #d22856;

    @media (#{$desktop}) {
      top: 230px;
      left: 121px;
      font-size: 120px;
    }
  }

  @media (#{$desktop}) {
    padding-top: 150px;
    padding-bottom: 82px;
    background-position: 40px 57px;
    background-size: 300px;
  }
}

.effect__header {
  width: 170px;
  padding-left: 310px;

  @media (#{$desktop}) {
    width: 570px;
    padding-left: 370px;
  }
}

.effect__title {
  @include opensans (700);
  font-size: 30px;
  line-height: 36px;
  margin-top: 0;
  margin-bottom: 0;

  @media (#{$desktop}) {
    line-height: 30px;
  }
}

.effect__txt {
  padding-left: 310px;
  margin-top: 10px;
  line-height: 24px;

  @media (#{$desktop}) {
    padding-left: 370px;
    margin-top: 25px;
    margin-bottom: 30px;

    font-size: 18px;
    line-height: 30px;
  }
}

.effect__txt a {
  color: #d22856;
}
