.feedback {background-color: #fff;}

.feedback__inner{
  width:280px;
  margin:0 auto;
  text-align:center;
}

.feedback__author {
  color: black;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

.feedback__txt {
  color: #283645;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align:center;
}
