.feedback {
  padding-top: 44px;
  padding-bottom: 40px;
  background-color: #fff;
  color: black;
  @media (#{$tablet}){
    padding-bottom: 20px;
  }
  @media (#{$desktop}) {
    width: 960px;
    margin: 0 auto;
    padding-bottom: 10px;
  }
}

.feedback__inner{
  @include container;
  margin:0 auto;
  text-align:center;

  @media (#{$tablet}){
    display: flex;
    flex-direction: column;
    padding-top: 25px;
  }

  @media (#{$desktop}) {
    padding: 125px 0 30px;
    background: url(../img/icon-quotes.svg) no-repeat 50% 30px;
  }
}

.feedback__author {
  display: block;
  margin: 0;
  font-family:$opensansbold;
  font-size: 18px;
  line-height: 30px;

  @media (#{$tablet}) {
    order: 2;
    font-size: 20px;
    margin-top: 18px;
  }
  @media (#{$desktop}) {
    font-size: 24px;
  }
}

.feedback__author-desc {
  display:none;

  @media (#{$tablet}) {
    display: block;
    order: 3;
    font-size: 14px;
    line-height: 30px;
  }
  @media (#{$desktop}) {
    font-size: 18px;
  }
}

.feedback__txt {
  color: #283645;
  font-family:$opensans;
  font-size: 14px;
  line-height: 30px;
  text-align:center;

  @media (#{$tablet}) {
    font-size: 18px;
  }
  @media (#{$desktop}) {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
  }
}

.feedback__switchers {
  @media (#{$desktop}) {
    display: none;
  }
}
