.page-footer {
  width: 320px;
  margin: 0 auto;
  text-align:center;
}

.page-footer__copyright {
  vertical-align: middle;
  line-height: 34px;
}

.page-footer__copyright img {
  vertical-align: middle;
}
