.page-header {
  color:#fff;
  background: $dark url(../img/bg-back-mobile%401x.jpg)
    no-repeat 50% top;

  &--opened {
    background-position: 50% 257px;
    @media (#{$desktop}) {
      background-position: 50% top;
    }
  }
  &--nojs {
    background-position: 50% 257px;
    @media (#{$desktop}) {
      background-position: 50% top;
    }
  }
  @media (#{$tablet}) {
    background-image: url(../img/bg-back-tablet%401x.jpg);
  }

  @media (#{$desktop}) {
    background-image: url(../img/bg-back-desktop%401x.jpg);
    background-size: cover;
  }
}

@media (min-resolution: 1.5dppx), (min-resolution: 144dpi) {
  .page-header{
    background-image: url(../img/bg-back-mobile%402x.jpg);
    @media (#{$tablet}) {
      background-image: url(../img/bg-back-tablet%402x.jpg);
    }
    @media (#{$desktop}) {
      background-image: url(../img/bg-back-desktop%402x.jpg);
    }
  }
}

.main_page .page-header {
  @media (#{$desktop}) {
    height: 853px;
  }
}

.page-header__inner {

  min-width: 280px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;

  @media (#{$tablet}) {
    min-width: 620px;
    background-color: $middark;
  }

  @media (#{$desktop}) {
    min-width: 940px;
    min-height: 110px;
    padding: 0 10px;
    background-color: rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
  }
}

.page-header--closed .page-header__inner {
  background-color: rgba(0,0,0,0.3);
}

.page-header__top {
  height: 69px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgba(0,0,0,0.3);
  display: flex;
  justify-content: center;

  @media (#{$tablet}){
    width: 620px;
    height:109px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto;
    background-color: transparent;
  }
  @media (#{$desktop}){
    width: 300px;
    padding-left: 0;
    padding-right: 20px;
    margin: 0;
    background-color: transparent;
  }
}

.page-header--nojs .page-header__top {
  background-color: $middark;
}
.page-header--opened .page-header__top {
    background-color: $middark;

    @media (#{$desktop}) {
      background-color: transparent;
    }
}

.page-header__logo {
  padding: 22px 0 25px;
  width: 230px;
  font-size: 0;

  @media (#{$tablet}){
    width: 595px;
  }
  @media (#{$desktop}){
    width: 300px;
  }
}

.page-header__logo a {
  display: block;
  width:75px;
  height: 22px;
  background: url(../img/logo-pink-white-mobile.svg) no-repeat 0 0;

  &:hover {
    background-image: url(../img/logo-pink-white-hover-mobile.svg);
  }
  &:active {
    opacity: 0.3;
    background-image: url(../img/logo-pink-white-mobile.svg);
  }

  @media (#{$tablet}) {
    width: 147px;
    height: 40px;
    margin-top: 5px;
    background-image: url(../img/logo-pink-white-tablet.svg);

    &:hover {
      background-image: url(../img/logo-pink-white-hover-tablet.svg);
    }
    &:active {
      opacity: 0.3;
      background-image: url(../img/logo-pink-white-tablet.svg);
    }
  }

  @media (#{$desktop}) {
    background-image: url(../img/logo-pink-white-desktop.svg);

    &:hover {
      background-image: url(../img/logo-pink-white-hover-desktop.svg);
    }
    &:active {
      opacity: 0.3;
      background-image: url(../img/logo-pink-white-desktop.svg);
    }
  }
}

.page-header__toggle {
  width: 25px;
  height: 24px;
  margin-left: 25px;
  margin-top: 22px;
  cursor: pointer;

  @media (#{$tablet}){
    width: 25px;
    margin-top: 44px;
    margin-left: 25px;
  }
  @media (#{$desktop}){
    display:none;
  }
}

.page-header  .page-header__toggle{
  background: url(../img/icon-menu-burger.svg)
    no-repeat 0 0;

  &:hover {
    background-image: url(../img/icon-menu-hover-burger.svg);
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header--opened  .page-header__toggle,
.page-header--nojs  .page-header__toggle {
  background: url(../img/icon-menu-cross.svg) no-repeat 0 0;
  &:hover {
    background-image: url(../img/icon-menu-hover-cross.svg);
  }

  &:active {
    opacity: 0.3;
  }
}


.page-header__subtitle {
  height: 141px;
  width: 180px;
  padding-top: 29px;
  margin:0 auto;
  text-align: center;
  color: white;
  font-family:$opensanslight;
  font-size: 24px;
  font-weight: 300;



  @media (#{$tablet}) {
    height: 260px;
    width: 370px;
    padding-top: 69px;
    font-size: 50px;
    line-height: 60px;
  }
  @media (#{$desktop}) {
    padding-top: 64px;
    height: 221px;
  }

  &--long {
    width: 230px;

    @media (#{$tablet}) {
      width: 500px;
    }
    @media (#{$desktop}) {
      width: 820px;
    }
  }
}

.page-header__nav{
  @media (#{$desktop}){
    width: 621px;
  }
}

.page-header  .page-header__nav {
    display:none;
    @media (#{$desktop}) {
      display: block;
    }
}

.page-header--opened .page-header__nav,
.page-header--nojs .page-header__nav {
  display:block;
}

.page-header__nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: $middark;
  border-top: 1px solid #000;

  @media (#{$desktop}){
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    border: none;
  }
}

.page-header__nav-item {
  height: 62px;
  border-bottom: 1px solid #000;
  border-top: 1px solid #485461;
  list-style-type: none;
  color: white;
  font-family: $opensansbold;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  text-transform: uppercase;

  @media (#{$desktop}){
    height: 62px;
    padding-top: 24px;
    padding-bottom: 24px;
    text-transform: none;

    font-family: $opensans;
    font-weight: 400;
    border: none;
  }
}

.page-header__nav-item a {
  display: inline-block;
  vertical-align: baseline;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
  text-decoration: none;
  border-bottom: 2px solid transparent;

  font-family: $opensansbold;
  font-weight: 700;

  &:hover {
    color: $accent;
  }
  &:active {
    color: rgba(255, 255, 255, 0.3)
  }

  @media (#{$desktop}) {
    font-family: $opensans;
    font-weight: 400;
  }
}

@media (#{$desktop}) {
  .page-header__nav-item--active a {
    border-bottom-color: white;

    &:hover {
      color: $accent;
      border-bottom-color: $accent;
    }
  }
}
