.page-footer {
  @include container;
  padding-top: 40px;
  text-align:center;

  @media (#{$tablet}) {
    display: flex;
    justify-content: space-between;
  }

  @media (#{$desktop}) {
    width: 940px;
  }
}

.page-footer__logo {
  @media (#{$desktop}) {
    width: 155px;
  }
}

.page-footer__copyright {
  vertical-align: middle;
  line-height: 34px;

  @media (#{$tablet}) {
    text-align: right;
    width: 150px;
  }
  @media (#{$desktop}) {
    width: 155px;
  }
}

.page-footer__copyright img {
  vertical-align: middle;
}
