.photocontent {
  width:320px;
  margin:0 auto;

  @media (#{$tablet}) {
    min-width: 700px;
  }

  @media (#{$desktop}) {
    width: 1200px;
  }
}

.photocontent__desc{
  width: 250px;
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 50px;

  color: #283645;
  position:relative;
  text-align: center;

  font-family:$opensans;
  font-size: 14px;
  line-height: 30px;

  @media (#{$tablet}) {
    width: 460px;
    padding-top: 92px;
    padding-bottom: 77px;
    font-size: 18px;
  }

  @media (#{$desktop}) {
    padding-bottom: 87px;
  }
}


.photocontent__panorama {
  width:320px;
  position:relative;
  line-height:1px;

  @media (#{$tablet}) {
    min-width: 700px;
  }

  @media (#{$desktop}) {
    width: 1200px;
  }

  &::after {
    position:absolute;
    display:block;
    top:0; right: 20px;
    width:140px;
    height:30px;
    padding-top:5px;
    content:"панорама дня";
    background-color: #d22856;
    color:#fff;
    z-index:10;
    text-align:center;
    font-size:12px;
    font-weight: 700;
    line-height:24px;
    text-transform: uppercase;
    @media (#{$tablet}) {
      top:57px; right: 41px;
    }
    @media (#{$desktop}) {
      top: 54px; right: 130px;
    }
  }
}

.photocontent__panorama-img {
  height: 137px;
  width: 320px;

  @media (#{$tablet}) {
    width: 100%;
    height: auto;
  }

  @media (#{$desktop}) {
    height: auto;
  }
}

.photocontent__panorama-desc {
  width: 280px;
  margin: 0 auto;
  padding-top: 16px;
  padding-bottom: 21px;

  color: #283645;
  background-color: $midlight;
  position:relative;

  font-family:$opensans;
  font-size: 14px;
  line-height: 30px;

  @media (#{$tablet}) {
    width: 610px;
    padding-top: 24px;
    padding-left: 11px;
    padding-bottom: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @media (#{$desktop}) {
    width: 917px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.photocontent__items {
  margin-top: 20px;

  @media (#{$tablet}) {
    width: 620px;
    margin: 47px auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @media (#{$desktop}) {
    width: 940px;
  }
}


.photocontent__item {
  width:280px;
  margin: 0 auto 20px;
  line-height:1px;

  @media (#{$tablet}) {
    width: 300px;
    margin-left: 0;
    margin-right: 0;
  }
  @media (#{$desktop}) {
    margin-bottom: 52px;
  }
}

.photocontent__item img {
  width: 280px; height: 180px;
  margin:0; padding:0;
  @media (#{$tablet}) {
    width: 300px;
    height: auto;
  }
}

.photocontent__item-desc {
  width: 280px;
  margin: 0 auto;
  padding-top: 16px;
  padding-bottom: 21px;

  color: #283645;
  background-color: $midlight;
  position:relative;

  font-family:$opensans;
  font-size: 14px;
  line-height: 30px;

  @media (#{$tablet}) {
    padding-top: 24px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 22px;
    min-height: 110px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.photocontent__header {
  margin-top: 0;
  padding-top:0;
  padding-left: 17px;
  padding-right: 20px;
}

.photocontent__author {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 24px;
}

.photocontent__time {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.photocontent__txt {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 17px;
  padding-right: 20px;
  font-size: 14px;
  line-height: 24px;
  @media (#{$tablet}) {
    flex-grow: 1;
  }
}

.photocontent__likes {
  padding-left: 49px;
  color: #d22856;
  background: url(../img/icon-heart.svg) no-repeat 17px 5px;

  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;

  @media (#{$tablet}) {
    background-position: right 5px;
    padding-left: 18px;
    margin-right: 22px;
  }

  &--panorama {
    @media (#{$tablet}) {
      background-position: right 5px;
      padding-left: 20px;
      padding-right: 30px;
      margin-right: 30px;
      order: 1;
    }
    @media (#{$desktop}) {
      padding-right: 30px;
      margin-right: 20px;
    }
  }

}

.photocontent__slogan {
  padding: 22px 20px 42px;
  margin: 0 auto;
  text-align: center;

  @media (#{$tablet}) {
    font-size: 18px;
    line-height: 30px;
    padding-top: 42px;
    padding-bottom: 70px;
  }
  @media (#{$desktop}) {
    padding-top: 7px;
  }
}

.photocontent__panorama-desc .photocontent__txt {
  order: 2;
}
