.social {
  width: 179px;
  margin: 30px auto 36px;
  padding: 0;
  display: flex;
  justify-content: space-between;

  @media (#{$tablet}) {
    margin-top: 3px;
    padding-right: 30px;
  }
  @media (#{$desktop}) {
    margin-top: 5px;
    padding-right: 100px;
  }
}

.page-footer--form .social {
  margin-top: 38px;

  @media (#{$tablet}) {
    margin-top: 3px;
    padding-right: 33px;
  }
  @media (#{$desktop}) {
    padding-right: 100px;
  }
}

.social__item {
  width:47px;
  height: 47px;
  list-style-type: none;
  border: 3px solid #e9ebec;
  border-radius: 50%;

  &:hover {
    border: 3px solid #283645;
  }
  &:active {
    border: 3px solid #e9ebec;
    opacity: 0.3;
  }
}

.social__item svg {
  fill: $accent;
  vertical-align: bottom;
  }
