.social {
  width: 179px;
  margin: 30px auto 36px;
  padding: 0;
  display: flex;
  justify-content: space-between;

  @media (#{$tablet}) {
    margin-top: 0;
  }
  @media (#{$desktop}) {
    margin-top: 5px;
  }
}

.social__item {
  width:47px;
  height: 47px;
  list-style-type: none;
  border: 2px solid #e9ebec;
  border-radius: 50%;
}

.social__item img {
  vertical-align: bottom;
  }
